/Programa_Club/nbproject/private/
/Programa_Club/build/
/Programa_Club/src/GestionDeEventos/build/
/Programa_Club/src/GestionDeEventos/dist/
/Programa_Club/src/GestionDeEventos/nbproject/private/
/Programa_Club/src/GestionEventos/GestionDeEventos/build/
/Programa_Club/src/GestionEventos/GestionDeEventos/nbproject/private/
/Programa_Club/dist/